body {
    background-color: #FFF4DE;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    /*background: lime;*/
}

.top {
    height: 50vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    /*background-color: aqua;*/
}

.bottom {
    height: 50vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    /*background-color: blueviolet;*/
}

.row {
    margin-top: 10vh;
}

.column {
    float: left;
    width: 25%;
    text-align: center;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}